@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body {
 background-image: url(../img/bg_pic.jpg);
 background-repeat: no-repeat;
 background-size: 100%;
 font-family:'Helvetica Neue', sans-serif;
}


header {
  width: 100%;
  height: 36px;  
  background-color: #074d8b;
  line-height: 36px;
}


header ul {
  list-style: none;
  float: right;
  border-right: 1px solid #4f9fd8;
}


header ul li {
  float: left;
  display: block;
  padding: 0 15px;
  color:  #60b5ed;
  font-size: 14px;
}

header ul li:hover {
  float: left;
  display: block;
  background-color: #4eabda;
  color:  #fff;  
}


.flag {
  float: right;
  color:  #fff;
  font-size: 14px;
  margin-right: 15px;
}


.flag img {
  float: left;
  margin: 7px 15px;
  margin-right: 8px;
}


.right_text {
  float: right;
  padding: 0 15px;
  background-image: linear-gradient(to top, #2e7ac4, #50afdc);   
  color:  #fff;
  font-size: 14px;
  margin-right: 15px;
}


.right_text a {
  color: #fff;
  text-decoration: underline;
}

/*------------------------------------------- END OF HEADER---------------------------------------*/


.wrapper { 
  width: 560px;
  height: 613px;
  margin: 0 auto;
  position:absolute;
  left:50%;
  top:50%;
  margin:-280px 0 0 -310px;
  background: rgba(0, 0, 0, 0.6);
}


.forms {
  width: 285px;
  margin: 0 auto;
  color: #fff;
  line-height: 2;
}

.tit {
  text-align: center;
  font-size: 24px;
  padding: 7px;
  border-bottom: 2px solid gray;
}



.fb {
  display: block;
  margin: 35px 0 10px 0;
  text-align: center;

}


.ou {
  position: relative;
  width: 285px;
  margin: 13px 0 13px 0;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.oul {
  position: absolute;
  top: 15px;
  left: 0px;
  background: gray;
  width: 122px;
  height: 1px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);
}

.our {
  position: absolute;
  top: 15px;
  left: 162px;
  background: gray;
  width: 122px;
  height: 1px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);
}


.data input[type=text],[type=password], [type=email] {
  width: 265px;
  margin: 8px 0;
  border: 0;
  border-bottom: 1px solid gray;
  padding: 10px;
  background-color: #000;
  color: #fff;
  text-transform: capitalize;
}


.data input[type=text]:hover, [type=password]:hover, [type=email]:hover {
  background-color: #1b5288;
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(67, 125, 168, 0.8);
  -moz-box-shadow:    0px 0px 3px 3px rgba(67, 125, 168, 0.8);
  box-shadow:         0px 0px 3px 3px rgba(67, 125, 168, 0.8);
}


.data input[type=checkbox] {
  margin-top: 12px;
}


.data label {
   font-size: 14px;
}


.data input[type=submit] {
  width: 150px;
  margin: 14px;
  padding: 9px 0;
  margin-left: 60px;
  background-image: linear-gradient(to bottom, #4eabda, #2e7cc4);   
  border-radius: 4px;
  border: 1px solid #4499d1;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

.agry {
  color: #fff;
  text-align: center;
  font-size: 10px;
  line-height: 1.7;
}